<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://getshitdone.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-bay-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GetShitDone</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GetShitDone</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GetItDone" Order="1" Enabled="True">
          <Destination Path="Data Source=r9qt48gmgj.database.windows.net;Initial Catalog=getitdoneprod;Persist Security Info=True;User ID=Limey@r9qt48gmgj.database.windows.net;Password=Xi4cuiP3" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GetItDone.DAL.GetItDoneContext, GetItDone.DAL" MigrationConfiguration="GetItDone.DAL.Migrations.Configuration, GetItDone.DAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GetItDone-Web.config Connection String">
      <ParameterValue>Data Source=r9qt48gmgj.database.windows.net;Initial Catalog=getitdoneprod;Persist Security Info=True;User ID=Limey@r9qt48gmgj.database.windows.net;Password=Xi4cuiP3</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>