@{
    Layout = null;
    
}
@model GetItDone.DAL.Models.User

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Get It Done</title>
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="~/Scripts/Index.js"></script>

</head>
<body>
    <div>
    User @Model.FirstName @Model.LastName <br/>
        @Html.ActionLink("Log out", "Logout", "Auth")
        <div id="accordion">
            
        </div>
        
    </div>
    
</body>
</html>
